@import url(vendor/bootstrap.css);
html, body {
  width: 100%;
  min-width: 100%; }

body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial; }

iframe {
  max-width: 100%; }

.view-container {
  padding-top: 50px;
  background: #efefef; }

.btn-submit-story {
  float: right;
  cursor: pointer; }

.collapse .btn-submit-story, .collapsing .btn-submit-story {
  display: none; }

.visible-md-altd {
  display: none; }

@media all and (max-width: 1024px) {
  .visible-md-altd {
    display: block !important; } }

.feed-item {
  max-width: 640px;
  margin: 0 auto 1em; }

.post-title {
  max-width: 640px;
  font-size: 1.5em;
  color: #444;
  margin: 0 0 0.5em;
  padding: 0 0.5em; }

.post-content {
  max-width: 640px;
  min-height: 230px;
  background: #fff;
  color: #666;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }

.featured-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  cursor: pointer; }

.post-content p iframe {
  margin: 0 auto 1em; }

.post-content p:not(p:first-child) {
  max-width: 95%;
  line-height: 1.5em;
  margin-bottom: .5em; }

.author-meta {
  text-transform: uppercase;
  display: block;
  font-size: .8em;
  color: #333;
  font-weight: bold;
  padding: 0 1em;
  height: 2em; }
  .author-meta p {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.5em; }

/* single view */
.view-container.single {
  background: #fff;
  max-width: 640px;
  margin: 0 auto 1em; }

.wrapper.single-post {
  background: #fff;
  padding: 0; }
  .wrapper.single-post .item-author {
    display: inline-block; }

.post-view-full {
  margin-bottom: 2em;
  padding: 1em; }

.share-footer {
  padding: 0 0.5em 1em 0.5em;
  font-size: .75em; }

.share-footer button {
  margin: 0 0.25em;
  padding: 0.5em 1em;
  font-size: 10px; }

.share-footer button.share {
  padding: 0.5em 1.75em; }

.post-content iframe, .post-content .ndn_embed {
  margin-bottom: 1em; }

.single-post {
  padding: 1em 1.25em 0; }

.single {
  padding: 1em 0;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%; }
  .single .share-footer {
    margin-top: 0; }
  .single button.back {
    margin: 0.5em auto 0.5em;
    display: block;
    padding: 0.35em 1em;
    font-size: 1.25em; }
  .single.current {
    margin-bottom: 1em; }
  .single .post-content p:nth-child(0n+1) {
    text-align: center; }
  .single .video-container {
    text-align: center; }

.single .post-content, .single-post .post-content {
  padding: 1.25em; }

.single .post-title, .single-post .post-title {
  margin-bottom: .5em;
  padding: 0 0.5em; }

.post-view-full .author-meta {
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  margin-bottom: .5em;
  padding: 0 0.5em; }
  .post-view-full .author-meta p {
    line-height: 2em; }

.single .post-content, .single-post .post-content {
  box-shadow: none;
  line-height: normal;
  padding: 0.5em 0em 0.5em; }
  .single .post-content p, .single-post .post-content p {
    padding: 0 0.5em; }
    .single .post-content p:first-child, .single-post .post-content p:first-child {
      padding: 0; }
    .single .post-content p iframe, .single-post .post-content p iframe {
      margin-bottom: .5em; }

.single-post .post-view-full .post-content p {
  padding: 0; }

.post-content.feed-view {
  min-height: 230px;
  background: #fff;
  color: #666;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  padding: 0; }

.flexshare {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  left: calc(100% - 3.75em);
  bottom: 30%; }

.fs-item {
  flex-grow: 1; }

.flexshare.share-small {
  font-size: .7em; }

.flexshare-first {
  order: -1; }

.flexshare .fs-item,
.flexshare .fs-item:visited {
  color: #fff;
  background-color: #333;
  display: inline-block;
  padding: 0.3em 0.25em 0.25em;
  font-size: .75em;
  width: 4.75em;
  text-align: center; }
  .flexshare .fs-item i.fa-3x,
  .flexshare .fs-item:visited i.fa-3x {
    line-height: 1.75em; }

.flexshare .flex-facebook,
.flexshare .flex-facebook:visited {
  background-color: #3b5998; }

.flexshare .flex-twitter,
.flexshare .flex-twitter:visited {
  background-color: #00aced; }

.flexshare .flex-linkedin,
.flexshare .flex-linkedin:visited {
  background-color: #007bb6; }

.flexshare .flex-gplus,
.flexshare .flex-gplus:visited {
  background-color: #dd4b39; }

.flexshare .flex-mail,
.flexshare .flex-mail:visited {
  background-color: #36c600; }

.flexshare .flex-reddit,
.flexshare .flex-reddit:visited {
  background-color: #ff4500; }

@media all and (max-width: 600px) {
  .flexshare {
    flex-direction: row;
    bottom: 0;
    left: 0; }
  .flexshare .fs-item,
  .flexshare .fs-item:visited {
    width: 3.5em; } }

/* utility classes */
.light-grey {
  color: #999999; }

.left, .author-meta .item-author {
  float: left; }

.right, .author-meta .item-cat {
  float: right; }

.inline {
  display: inline       !important; }

.inline-block {
  display: inline-block !important; }

.ad-m {
  margin: 1em; }

.ad-m-r, .btn-submit-story {
  margin-right: 1em; }

.ad-m-l {
  margin-left: 1em; }

.ad-m-t {
  margin-top: 1em; }

.ad-m-b {
  margin-bottom: 1em; }

body {
  font-family: "Montserrat", sans-serif, Calibri, Helvetica, Arial; }

.post-content h2.post-title {
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0;
  padding: .25em;
  line-height: 1.3;
  pointer-events: none;
  font-family: "Roboto Slab", serif; }

.post-title span {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  display: inline-flex; }

.single-post .post-view-full .post-title {
  position: relative;
  color: #333;
  bottom: auto;
  background-color: transparent;
  width: 100%; }

.single .post-title, .single-post .post-title {
  font-family: "Roboto Slab", serif;
  font-size: 1.65em; }

.item-author {
  display: none !important; }

.author-meta {
  padding: 0;
  height: auto;
  font-size: 1em; }

.post-content.feed-view {
  height: auto;
  min-height: auto; }
  .post-content.feed-view p {
    margin-bottom: 0; }

.feed-view .item-cat {
  position: absolute;
  top: 0;
  padding: 1em;
  color: white;
  background-color: #0092D7; }
  .feed-view .item-cat.insane-stunts {
    background-color: #a50063; }
  .feed-view .item-cat.crash-burn {
    background-color: #EB423C; }
  .feed-view .item-cat.sports-car {
    background-color: red; }
  .feed-view .item-cat.luxury {
    background-color: #dbcc00; }
  .feed-view .item-cat.classics {
    background-color: #19232D; }
  .feed-view .item-cat.motorcycles {
    background-color: #FAAF3A; }
  .feed-view .item-cat.off-road {
    background-color: #843d13; }
  .feed-view .item-cat.technology {
    background-color: #36c600; }
  .feed-view .item-cat.grab-bag {
    background-color: #9446e2; }
  .feed-view .item-cat a {
    color: #ffffff; }

.post-view-full .item-cat {
  float: none; }

.feed-item {
  margin: 0 auto 1em;
  position: relative; }

.video-container {
  text-align: center; }

.flexshare {
  z-index: 10; }

.flex-facebook {
  order: 0; }

.flex-gplus {
  order: 1; }

.flex-twitter {
  order: 5; }

.flex-linkedin {
  order: 4; }

.flex-mail {
  order: 2; }

.flex-reddit {
  order: 3; }

@media (min-width: 1025px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0; }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto; } }

@media (min-width: 1025px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%; }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0; } }

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px; }

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd; }

@media (min-width: 1025px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0; }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff; } }

@media (min-width: 1025px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%; }
  .nav-justified > li > a {
    margin-bottom: 0; } }

@media (min-width: 1025px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0; }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff; } }

@media (min-width: 1025px) {
  .navbar {
    border-radius: 4px; } }

@media (min-width: 1025px) {
  .navbar-header {
    float: left; } }

@media (min-width: 1025px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  .navbar-collapse.in {
    overflow-y: visible; }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0; } }

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px; } }

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 1025px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0; } }

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px; }

@media (min-width: 1025px) {
  .navbar-static-top {
    border-radius: 0; } }

@media (min-width: 1025px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0; } }

@media (min-width: 1025px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px; } }

@media (min-width: 1025px) {
  .navbar-toggle {
    display: none; } }

@media (max-width: 1024px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px; }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px; }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none; } }

@media (min-width: 1025px) {
  .navbar-nav {
    float: left;
    margin: 0; }
  .navbar-nav > li {
    float: left; }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media (min-width: 1025px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .navbar-form .form-control-static {
    display: inline-block; }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle; }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto; }
  .navbar-form .input-group > .form-control {
    width: 100%; }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle; }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0; }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0; } }

@media (max-width: 1024px) {
  .navbar-form .form-group {
    margin-bottom: 5px; }
  .navbar-form .form-group:last-child {
    margin-bottom: 0; } }

@media (min-width: 1025px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none; } }

@media (min-width: 1025px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px; } }

@media (min-width: 1025px) {
  .navbar-left {
    float: left !important; }
  .navbar-right {
    float: right !important;
    margin-right: -15px; }
  .navbar-right ~ .navbar-right {
    margin-right: 0; } }

@media (max-width: 1024px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent; } }

@media (max-width: 1024px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent; } }
