<div style="min-height: 600px;">
    <div ng-if="!_isMobile">
        <pubad placementIndex="0"></pubad>
        <pubad placementIndex="1"></pubad>
        <pubad placementIndex="2"></pubad>
        <pubad placementIndex="3"></pubad>
        <pubad placementIndex="4"></pubad>
        <pubad placementIndex="5"></pubad>
    </div>
    <div ng-if="_isMobile">
        <pubad placementIndex="6"></pubad>
        <pubad placementIndex="7"></pubad>
        <pubad placementIndex="8"></pubad>
        <pubad placementIndex="9"></pubad>
    </div>
</div>