<cardlist posttype="post" numposts="4" viewtype="row" category="gaming" pagenum="1" skip="0" format="" sharebar="false"></cardlist>
<!--<cardlist posttype="post" numposts="3" viewtype="row" category="gaming" pagenum="1" skip="0" format="" excerpt="true"></cardlist>-->
<!--<cardlist posttype="post" numposts="1" viewtype="column" category="insane-stunts" pagenum="1" skip="0" format="" excerpt="true"></cardlist>
<cardlist posttype="post" numposts="2" viewtype="row" category="crash-burn" pagenum="1" skip="0" format="" excerpt="true"></cardlist>

<cardlist posttype="animated-gif" numposts="2" pagenum="1" skip="0" format="" excerpt="true"></cardlist>-->
<!--<cardlist posttype="partner-post" numposts="2" pagenum="1" skip="2" format="video" excerpt="false"></cardlist>-->
