<div class="wrapper single-post {{ currentView }}">
    <div id="scroll-container">
        <div ng-repeat="item in feedItemElements track by $index" data-url="{{ item.link }}" class="feed-item format-{{ item.format }} {{ item.type }}" id="feed-item-{{ $index }}" data-post-index="{{ item.post_index+1 }}">

            <div ng-if="currentView === 'sponsor' && $index === 0">
                <ng-include src="'/views/partials/sponsor-header-page.html'"></ng-include>
            </div>

            <card ng-if="item.type != 'instagram' && item.type != 'ad'" error="{{ item.noresults ? 'no-results' : '' }}" type="{{ item.type }}"></card>
            <div ng-if="item.type === 'instagram'">
                <instagram count="1"><card type="instagram"></card></instagram>
            </div>

            <div class="ad-placement" ng-if="item.type === 'ad'">
                <pubad placementIndex="{{ item.placementIndex }}"></pubad>
            </div>

        </div><!-- /ng-repeat -->
    </div>
</div>