<!-- Flexbox share bar requires fontawesome -->
<!-- Add a class of "share-small" to reduce font size -->
<div class="flexshare">
    <div class="flex-facebook fs-item">
      <!-- facebook -->
      <a href="http://www.facebook.com/sharer/sharer.php?u=LINK_GOES_HERE?utm_source=facebook&utm_medium=share&utm_campaign=site-share" title="Share on Facebook">
        <i class="fa fa-3x fa-facebook"></i>
      </a>
    </div>
    <div class="flex-mail fs-item">
      <!-- email -->
      <a href="mailto:?subject=Check out this video&body=You have got to see this - LINK_GOES_HERE">
        <i class="fa fa-3x fa-envelope"></i>
      </a>
    </div>
    <div class="flex-reddit fs-item">
      <!-- reddit -->
      <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false">
        <i class="fa fa-3x fa-reddit"></i>
      </a>
    </div>
    <div class="flex-linkedin fs-item flexshare-first">
      <a href="http://www.linkedin.com/shareArticle?title=PAGE_TITLE_HERE&amp;url=LINK_GOES_HERE?utm_source=linkedin&utm_medium=share&utm_campaign=site-share" title="Share on LinkedIn">
        <!-- linkedin -->
        <i class="fa fa-3x fa-linkedin"></i>
      </a>
    </div>
    <div class="flex-twitter fs-item">
      <a href="http://www.twitter.com/share?&text=PAGE_TITLE_HERE&amp;url=LINK_GOES_HERE?utm_source=twitter&utm_medium=share&utm_campaign=site-share" title="Share on Twitter">
        <!-- twitter -->
        <i class="fa fa-3x fa-twitter"></i>
      </a>
    </div>
    <div class="flex-gplus fs-item">
      <a href="https://plus.google.com/share?url=LINK_GOES_HERE?utm_source=google%2B&utm_medium=share&utm_campaign=site-share" title="Share on Google+">
        <!-- googleplus -->
        <i class="fa fa-3x fa-google-plus"></i>
      </a>
    </div>
    
  </div> 