/* use the sitename on the body - where sitename = brand */
    /* extra CSS file for all modifications */

.driversenvy .navbar-brand {
  background-image: url('http://driversenvy.com/images/logo_drivers-envy-sm.png');
  width:220px;
  position: relative;
  top: 10px;
  left: .75em;
  margin-right: 1.75em;
  /* can set width and height to match logo */
  /* can adjust bg position as well */
}

@media all and (max-width:480px) {
  .driversenvy .navbar-brand {
    width: 140px;
    top: 16px;
    margin-right: 0;
    left: .25em;
  }
}
