/* use the sitename on the body - where sitename = brand */
    /* extra CSS file for all modifications */

.upshift .navbar-brand {
  background-image: url('../images/upshift_logo.png');
  width:180px;
  position: relative;
  top: 4px;
  left: .75em;
  margin-right: 1.75em;
  /* can set width and height to match logo */
  /* can adjust bg position as well */
}

@media all and (max-width:480px) {
  .upshift .navbar-brand {
    width: 120px;
    top: 10px;
    margin-right: 0;
    left: .25em;
  }
}
