<div class="comments">
    <p id="commentHook" class="comment-trigger text-right"><span>+ View Responses</span></p>
    <div class="fb-wrapper" style="display: none; width:100%;">
        <div class="fb-comments" id="comments" data-href="{{ item.link }}" data-width="100%" data-numposts="5"></div>
        <!--<div class="fb-comments" id="comments" data-href="http://www.altdriver.com/crash-burn/brutal-cyclist-crash-into-car-during-downhill-race/" data-width="100%" data-numposts="5"></div>-->
    </div>
</div>