<div class="post-actions clearfix">
    <div class="ad-m">
        <div class="share-meta"><span class="vote-count" ng-init="totalVotes = item.votes.total_votes - (item.votes.votes_down || 0)">{{ totalVotes }}</span> <span class="pointsTxt">{{ totalVotes === 1 ? "point" : "points" }}</span></div>
        <div class="left pa-voting">
            <ng-include src="'/views/partials/voting.html'"></ng-include>
        </div>
        <div class="ad-m-lr left pa-comments">
            <!-- take me to single with comments open -->
            <button type="button" ng-click="commentBtnHandler($event, $index, {category: getCategory(item.category, item.link).slug, slug: item.slug})" class="btn ga-btn-comments"><i class="fa fa-comment"></i></button>
        </div>
        <div class="right pa-share">
            <button type="button" class="btn ga-btn-share" ng-click="shareClick($event, item.slug, $index)">
                Share
            </button>
        </div>
    </div>
    <div class="share-icon-wrapper ng-hide">
        <ng-include src="'/views/partials/share-icons.html'"></ng-include>
    </div>
</div>