<div ng-switch="$index">
    <div class="post-view-full" ng-switch-when="0">
        <h2 ng-bind-html="item.title.rendered" class="post-title">{{ item.title.rendered }}</h2>
        <div class="author-meta">
            <p class="item-author"><span class="light-grey">By</span> {{ item.author.name }}</p>
            <p class="item-cat" ng-bind-html="item.category[0].name">{{ getCategory(item.category, item.link).name }}</p>
            <ng-include src="'/views/partials/voting.html'"></ng-include>
            <span class="clearfix"></span>
        </div>

        <div class="post-content">{{ renderContent(item.content.rendered, $index, false) }}</div>
        <ng-include src="'/views/partials/comments.html'"></ng-include>
    </div>
    <!-- /ng-switch-when [render the requested post] -->

    <div ng-switch-default>
        <div class="post-content feed-view">
            <p ng-click="goToPage(this, $index, { category: getCategory(item.category, item.link).slug, slug: item.slug })"><img class="featured-image" src="{{ item.featured_image_src.medium[0] }}" width="{{ item.featured_image_src.medium[1] }}" height="{{ item.featured_image_src.medium[2] }}" /></p>
            <h2 class="post-title">
                <span ng-bind-html="item.title.rendered" >{{ item.title.rendered }}</span>
            </h2>


            <div class="author-meta">
                <p class="item-author"><span class="light-grey">By</span> {{ item.author_meta.name }}</p>
                <p class="item-cat {{ getCategory(item.category, item.link).slug }}"><a href="/category/{{getCategory(item.category, item.link).slug}}" ng-bind-html="getCategory(item.category, item.link).name">{{ getCategory(item.category, item.link).name }}</a></p>
                <span class="clearfix"></span>
            </div>

        </div>
    </div>
    <!-- /ng-switch-default [render the post feed] -->

</div><!-- /ng-switch -->