<!-- Flexbox share bar requires fontawesome -->
<!-- Add a class of "share-small" to reduce font size -->
<div class="flexshare">

    <!-- facebook -->
    <a class="flex-facebook fs-item" href="https://www.facebook.com/sharer/sharer.php?u={{ item.link }}&utm_source=facebook&utm_medium=share&utm_campaign=site-share&ref=fb.s.mw" title="Share on Facebook" target="_blank">
        <i class="fa fa-3x fa-facebook"></i>
    </a>

    <!-- email -->
    <a class="flex-mail fs-item" href="mailto:?subject=Check out this video&body=You have got to see this - {{ getParams('url', true) }}" target="_blank">
        <i class="fa fa-3x fa-envelope"></i>
    </a>

    <!-- sms -->
    <a class="flex-sms fs-item" href="{{ getSMSLink(item.link) }}">
        <i class="fa fa-3x fa-phone"></i>
    </a>

    <!-- whatsapp -->
    <a href="whatsapp://send?text={{ getTrusted(item.title.rendered) + ' - ' + item.link }}" class="flex-whatsapp fs-item">
        <i class="fa fa-3x fa-whatsapp"></i>
    </a>

    <!-- reddit -->
    <a class="flex-reddit fs-item" href="//www.reddit.com/submit?url={{ getParams('url', true) }}&title={{ getParams('title', true) }}" target="_blank">
        <i class="fa fa-3x fa-reddit"></i>
    </a>

    <!-- linkedin -->
    <a class="flex-linkedin fs-item flexshare-first" href="http://www.linkedin.com/shareArticle?title={{ getParams('title') }}&url={{ getParams('url', true) }}&utm_source=linkedin&utm_medium=share&utm_campaign=site-share" title="Share on LinkedIn" target="_blank">
        <i class="fa fa-3x fa-linkedin"></i>
    </a>

    <!-- twitter -->
    <a class="flex-twitter fs-item" href="http://www.twitter.com/share?&text={{ getParams('title') }}&url={{ getParams('url', true) }}&utm_source=twitter&utm_medium=share&utm_campaign=site-share" title="Share on Twitter" target="_blank">
        <i class="fa fa-3x fa-twitter"></i>
    </a>

    <!-- googleplus -->
    <a class="flex-gplus fs-item" href="https://plus.google.com/share?url={{ getParams('url', true) }}&utm_source=google&utm_medium=share&utm_campaign=site-share" title="Share on Google+" target="_blank">
        <i class="fa fa-3x fa-google-plus"></i>
    </a>
</div>
