<!-- Sponsored Post Header -->
<div class="sponsored sponsored-post-id trigger-sponsor-view" data-campaign-name="{{ item.campaign.name }}" data-post-id="{{ item.id }}" data-user-action="View">
    <a href="{{ item.sponsor.link }}">
        <!-- Display the sponsor's avatar -->
        <span class="sponsor-avatar">
            <img width="75" height="75" src="{{ item.sponsor.avatar }}" class="attachment-altdsc_avatar no-display appear" alt="avatar">
        </span>
    </a>
    ​
    <h1 class="sponsor-header sponsor-small">
        <span class="sponsor-byline">{{ item.sponsor.byline }}</span>
        <a href="{{ item.sponsor.link }}" style="background-color:{{ item.sponsor.color }}">{{ item.sponsor.title }}</a>
    </h1>
    ​
    </a>
</div>