<style>
.trending-nav {
  text-align: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.trend-link {
  background-color: rgba(0, 0, 0, .8);
  color: white;
  font-size: 2em;
  padding: .25em;
  box-sizing: border-box;
  border: 1px solid white;
  border-width: 0 1px;
  text-transform: uppercase;
}

.trend-link:visited {
  color: white;
}

.trend-link:hover {
  color: white;
  text-decoration: none;
  opacity: .8;
}

.trend-link:first-child {
  border-left: 0;
}

.trend-link:last-child {
  border-right: 0;
}

.ad-hottest {
  background-color: #36c600;
}

.ad-latest {
  background-color: #0092D7 ;
}

.ad-best {
  background-color: #FAAF3A;
}

</style>
<div class="trending-nav row clearfix">
    <a href="#" class="col-sm-4 col-xs-12 trend-link ad-hottest">Hottest</a>

    <a href="#" class="col-sm-4 col-xs-12 trend-link ad-latest">Latest</a>

    <a href="#" class="col-sm-4 col-xs-12 trend-link ad-best">Best</a>

</div>
