<div class="card card-email">
  <!-- Begin MailChimp Signup Form -->

  <div id="mc_embed_signup">
  <form action="//altdriver.us9.list-manage.com/subscribe/post?u=55c05f5c2a888d23f76097bed&amp;id=c52db4c210" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2 class="card-header">The Best Videos in Your Inbox</h2>
      <p>Get the best of <em>alt</em>_driver delivered.<br> It's free, and you can cancel at any time.
      </p>
      <div class="mc-field-group form-group">
        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter your email address">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_55c05f5c2a888d23f76097bed_c52db4c210" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Send me the BEST Videos" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary btn-block"></div>
      </div>
  </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='IP';ftypes[3]='number';fnames[4]='SRC_URL';ftypes[4]='url';fnames[5]='UTM_SOURCE';ftypes[5]='text';fnames[6]='UTM_MEDIUM';ftypes[6]='text';fnames[7]='UTM_CAMP';ftypes[7]='text';fnames[9]='UTM_CON';ftypes[9]='text';fnames[10]='UTM_TERM';ftypes[10]='text';fnames[2]='FNAME';ftypes[2]='text';fnames[12]='NAMEL';ftypes[12]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  <!--End mc_embed_signup-->
</div>