<div class="post-content feed-view post-view feed instagram-card">
    <p>
        <a href="{{ item.link }}" target="_blank">
            <img class="instagram-img" src="{{ item.images.standard_resolution.url }}">
        </a>
    </p>
    <h2 class="post-title">
        <span>{{ item.caption.text }}</span>
    </h2>
    <div class="author-meta">
        <p class="item-cat instagram">Instagram</p>

        <span class="clearfix"></span>
    </div>
</div>
<div class="post-actions clearfix">
    <div class="ad-m">
        <button type="button" class="btn" style="display: inherit; margin:0 auto;"><a style="border: none" href="http://instagram.com/altdriver" target="_blank"><i class="fa fa-instagram fa-3x"></i> Follow us on Instagram</a></button>
    </div>
</div>