<div class="post-content feed-view post-view feed card-instagram" id="{{ instagramItems[instagramIndex].id }}">
    <p>
        <a href="{{ instagramItems[instagramIndex].link }}" target="_blank">
            <img class="instagram-img" src="{{ instagramItems[instagramIndex].images.standard_resolution.url }}">
        </a>
    </p>
    <h2 class="post-title">
        <span>{{ instagramItems[instagramIndex].caption.text }}</span>
    </h2>
    <!--<span style="display: inline-block; margin: -.5em .5em 0; padding: 0 .5em .5em" class="tags"><a style="padding: 0 .25em" ng-repeat="tag in item.data.tags" href="http://instagram.com/explore/tags/{{tag}}" target="_blank">#{{tag}} </a></span>-->
    <div class="author-meta">
        <p class="item-cat instagram">Instagram</p>

        <span class="clearfix"></span>
    </div>
</div>
<div class="post-actions clearfix">
    <div class="ad-m">
        <a href="http://instagram.com/altdriver?ref=badge" class="btn-flat btn-instagram btn-full">Follow us on Instagram</a>
    </div>
</div>