<div class="post-content feed-view post-view feed card-instagram">
    <p>
        <a href="{{ item.data.link }}" target="_blank">
            <img class="instagram-img" src="{{ item.data.images.standard_resolution.url }}">
        </a>
    </p>
    <h2 class="post-title">
        <span>{{ item.data.caption.text }}</span>
    </h2>
    <span style="display: inline-block; margin: -.5em .5em 0; padding: 0 .5em .5em" class="tags"><a style="padding: 0 .25em" ng-repeat="tag in item.data.tags" href="http://instagram.com/explore/tags/{{tag}}" target="_blank">#{{tag}} </a></span>
    <div class="author-meta">
        <p class="item-cat instagram">Instagram</p>

        <span class="clearfix"></span>
    </div>
</div>
<div class="post-actions clearfix">
    <div class="ad-m">
        <a href="http://instagram.com/altdriver?ref=badge" class="ig-b- ig-b-32 btn" style="display: inline-block; padding: .25em .5em; border-radius: .25em; margin: 0 auto;"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram"> Follow us on Instagram</a>
    </div>
</div>