
<div class="post-content feed-view post-view feed">
    <p><a ng-click="goToPage($event,$index,{category: getCategory(item.category, item.link).slug, slug: item.slug})"><img class="featured-image" src="{{ item.featured_image_src.medium[0] }}" width="{{ item.featured_image_src.medium[1] }}" height="{{ item.featured_image_src.medium[2] }}" /></a></p>
    <h2 class="post-title">
        <span ng-bind-html="item.title.rendered" >{{ item.title.rendered }}</span>
    </h2>

    <div class="author-meta">
        <p class="item-author"><span class="light-grey">By</span> {{ item.author_meta.name }}</p>
        <p class="item-cat {{ getCategory(item.category, item.link).slug }}"><a ng-bind-html="getCategory(item.category, item.link).name" ng-click="goToCategory(getCategory(item.category, item.link).taxonomy +'/'+ getCategory(item.category, item.link).slug)"></a></p>

        <span class="clearfix"></span>
    </div>
</div>
<ng-include src="'/views/partials/post-actions.html'" ng-init="isVisible = false"></ng-include>