<div class="card card-follow">
  <h3 class="card-header">Get more alt_driver <span class="hidden-xs">in your life</span></h3>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <h6>Twitter</h6>
      <a class="twitter-follow-button"
    href="https://twitter.com/altdriver" data-show-count="false">
  Follow @altdriver</a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h6>Facebook</h6>
      <div class="fb-follow" data-href="https://www.facebook.com/altdriver" data-layout="button_count" data-show-faces="false"></div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h6>Instagram</h6>
      <style>.ig-b- { display: inline-block; }
      .ig-b- img { visibility: hidden; }
      .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
      .ig-b-32 { width: 32px; height: 32px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .ig-b-32 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png); background-size: 60px 178px; } }</style>
      <a href="http://instagram.com/altdriver?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h6>Google+</h6>
      <script src="https://apis.google.com/js/platform.js" async defer></script>

      <div class="g-follow" data-href="https://plus.google.com/107503569026646226803" data-rel="publisher"></div>
    </div>
  </div>
</div>

<!-- twitter js -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>