
<div class="post-content feed-view post-view feed">
    <p>
        <button class="gif-btn" ng-click="loadGif(item, $event)">GIF</button>
        <a ng-click="goToPage($event,$index,{category: getCategory(item.category, item.link).slug, slug: item.slug})" class="ga-gifplay">
            <img ng-if="item.featured_image !== 0" class="featured-image ga-featured-image" src="{{ getFeaturedImage(item.featured_image_src, 'src') }}" width="{{ getFeaturedImage(item.featured_image_src, 'width') }}" height="{{ getFeaturedImage(item.featured_image_src, 'height') }}" />
            <span ng-if="item.featured_image === 0" style="background:#000 url('/images/logo-{{ getAppInfo('name') }}.png') repeat; min-height: 200px; background-position:-100px -50px; display: block; opacity: .35"></span>
        </a>
    </p>
    <h2 class="post-title">
        <span ng-bind-html="item.title.rendered" >{{ item.title.rendered }}</span>
    </h2>

    <div class="author-meta">
        <p class="item-author"><span class="light-grey">By</span> {{ item.author_meta.name }}</p>
        <p class="item-cat {{ getCategory(item.category, item.link).slug }} ga-item-cat"><a ng-bind-html="getCategory(item.category, item.link).name" ng-click="goToCategory(getCategory(item.category, item.link).taxonomy +'/'+ getCategory(item.category, item.link).slug)"></a></p>

        <span class="clearfix"></span>
    </div>
</div>
<!--
<ng-include src="'/views/partials/post-actions.html'" ng-init="isVisible = false"></ng-include>-->

<div class="post-actions clearfix" ng-init="isVisible = false">
    <div class="ad-m">
        <div class="share-meta"><span class="vote-count" ng-init="totalVotes = item.votes.total_votes - (item.votes.votes_down || 0)">{{ totalVotes*7 }}</span> <span class="pointsTxt">{{ totalVotes*7 === 1 ? "point" : "points" }}</span></div>
        <div class="left pa-voting">
            <!--<ng-include src="'/views/partials/voting.html'"></ng-include>-->
            <p id="votes-{{ item.id }}" class="votes right" ng-init="voteLoad(item.id, $index)">
                <button type="button" ng-click="vote(item.id, 'up', $event)" data-post-id="{{ item.id }}" class="up btn ga-vote-up" name="up"><i class="fa fa-chevron-up"></i></button>
                <button type="button" ng-click="vote(item.id, 'down', $event)" data-post-id="{{ item.id }}" class="down btn ga-vote-down" name="down"><i class="fa fa-chevron-down"></i></button>
            </p>
        </div>
        <div class="ad-m-lr left pa-comments">
            <!-- take me to single with comments open -->
            <button type="button" ng-click="commentBtnHandler($event, $index, {category: getCategory(item.category, item.link).slug, slug: item.slug})" class="btn ga-btn-comments"><i class="fa fa-comment"></i></button>
        </div>
        <div class="right pa-share">
            <button type="button" class="btn ga-btn-share" ng-click="shareClick($event, item.slug, $index)">
                Share
            </button>
        </div>
    </div>
    <div class="share-icon-wrapper ng-hide">
        <!--<ng-include src="'/views/partials/share-icons.html'"></ng-include>-->
        <!-- Flexbox share bar requires fontawesome -->
        <!-- Add a class of "share-small" to reduce font size -->
        <div class="flexshare">

            <!-- facebook -->
            <a ng-click="shareItemClick($event, item.slug)" class="flex-facebook fs-item ga-sharebar-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://{{ getAppInfo('url') }}/{{ item.category[0].slug }}/{{ item.slug }}&utm_source=facebook&utm_medium=share&utm_campaign=site-share&ref=fb.s.mw" title="Share on Facebook" target="_blank">
                <i class="fa fa-3x fa-facebook"></i>
            </a>

            <!-- email -->
            <a ng-click="shareItemClick($event, item.slug)" class="flex-mail fs-item ga-sharebar-mail" href="mailto:?subject=Check out this video&body=You have got to see this - http://{{ getAppInfo('url') }}/{{ item.category[0].slug }}/{{ item.slug }}" target="_blank">
                <i class="fa fa-3x fa-envelope"></i>
            </a>

            <!-- sms -->
            <a ng-click="shareItemClick($event, item.slug)" class="flex-sms fs-item ga-sharebar-sms" href="{{ getSMSLink('http://'+ getAppInfo('url') + '/' + item.category[0].slug +'/' + item.slug) }}">
        <span class="fa-2x fa-stack fa-lg">
            <i class="fa fa-flip-horizontal fa-mobile fa-stack-2x fa-2x"></i>
            <i class="flex-sms-txt">...</i>
        </span>
            </a>



            <!-- whatsapp -->
            <a ng-click="shareItemClick($event, item.slug)" href="whatsapp://send?text={{ decodeHtml(item.title.rendered) + ' - ' + 'http://'+ getAppInfo('url') + '/' + item.category[0].slug +'/' + item.slug }}" class="flex-whatsapp fs-item ga-sharebar-whatsapp">
                <i class="fa fa-3x fa-whatsapp"></i>
            </a>

            <!-- reddit -->
            <a ng-click="shareItemClick($event, item.slug)" class="flex-reddit fs-item ga-sharebar-reddit" href="//www.reddit.com/submit?url=http://{{ getAppInfo('url') }}/{{ item.category[0].slug }}/{{ item.slug }}&title={{ decodeHtml(item.title.rendered) }}" target="_blank">
                <i class="fa fa-3x fa-reddit"></i>
            </a>


            <!-- twitter -->
            <a ng-click="shareItemClick($event, item.slug)" class="flex-twitter fs-item ga-sharebar-twitter" href="http://www.twitter.com/share?&text={{ decodeHtml(item.title.rendered) }}&url=http://{{ getAppInfo('url') }}/{{ item.category[0].slug }}/{{ item.slug }}&utm_source=twitter&utm_medium=share&utm_campaign=site-share" title="Share on Twitter" target="_blank">
                <i class="fa fa-3x fa-twitter"></i>
            </a>

            <!-- googleplus -->

            <a ng-click="shareItemClick($event, item.slug)" class="flex-gplus fs-item ga-sharebar-gplus" href="https://plus.google.com/share?url=http://{{ getAppInfo('url') }}/{{ item.category[0].slug }}/{{ item.slug }}&utm_source=google&utm_medium=share&utm_campaign=site-share" title="Share on Google+" target="_blank">
                <i class="fa fa-3x fa-google-plus"></i>
            </a>
        </div>

    </div>
</div>