<div class="card-list" ng-repeat="item in cards track by $index">

    <card class="view-type-{{ viewType }}" type="{{ viewTemplate }}"></card>
    <!--<div ng-if="postType === 'animated-gif'">
        <ng-include src="'/views/cards/animated-gif.html'"></ng-include>
    </div>

    <div ng-if="postType === 'partner-post'">
        <ng-include src="'/views/cards/partner-post.html'"></ng-include>
    </div>

    <div ng-if="postType === 'post'">
        <ng-include src="'/views/cards/post-list.html'"></ng-include>
    </div>

    <div ng-if="postType === 'email-signup'">
        <ng-include src="'/views/cards/email-signup.html'"></ng-include>
    </div>-->
</div>