// css for all the other cards not posts

// NON POST cards
.card {
  @extend .post-content;
  @extend .clearfix;
}

.card-item{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

  &.no-results{
      box-shadow: none;
      padding:2em 1em 0;
  }
}

// all modifier cards - everything that is not a post
.card[class*="card-"] {
  padding: 1em;

  margin: 1em auto 1em;

  // spacing
  @extend .ad-p;

  // tighten header
  .card-header {
    margin-top: 0;
  }
}

// email joint call to action
.card-email {
  // dark
  background-color: rgba(0,0,0,.7);
  color: #fff;


  // make the button text larger
  .btn-primary {
    font-size: 2em;
    &:active,
    &:hover {
      background-color: $color-ad-green;
    }
  }

  // make the errors look a little better
  .mce_inline_error {
    border: 1px solid #fff;
  }

  #mc_embed_signup_scroll .response {
    background-color: white;
    color: black;
    padding: .5em;
  }
}
// smaller button text on small devices
@media all and (max-width:480px) {
  .card-email {
    .card-header {font-size: 1.5em;}
    .btn-primary {font-size: 1em;}
  }
}

// social media follow card
.card-follow {

  .card-header {
    color: white;
    background-color: $color-ad-green;
    padding: .25em;
    text-transform: capitalize;
    font-size: 1em;
  }

  background-color: #fff;
  text-align: center;
  border: 1px solid #ccc;
  // spacing
  padding: 0 !important;

  [class*="col-"] {
    min-height: 80px;
  }
}

.card-instagram.post-content {
  img {
    width:100%;
  }

  h2.post-title, h2.post-title a {
    position: relative;
    font-size: 1.2em;
    margin: .5em;
    width: auto;
    color: $color-text-main;
    background-color: #fff;
    height: auto;
  }

  h2.post-title a{
    color: #333 !important;
    &:hover{
      text-decoration: none;
      color: #333 !important;
    }
  }

}

.ad-post-companion{
  text-align: center;

  iframe{
    max-height:50px !important;
  }
}

.ad-post-companion:before{
  content: "Advertisement";
  float: left;
  color: #999;
  padding-bottom: .25em;
  font-size: .75em;
}

@media all and (min-width: 728px) {
  .ad-post-companion{

    iframe{
      max-height:90px !important;
    }
   &:before{
      font-size: .25em;
    }
}
}

@media all and (min-width: 1125px) {
  .ad-post-companion{
    height:90px;

    iframe{
      max-height:90px !important;
    }
  }
}

// center everything in an ad-placement div
.ad-placement * {
    margin-left: auto;
    margin-right: auto;
}

//ad cards
.card-item.main-leaderboard,
.card-item.post-companion-leaderboard,
.card-item.post-half-page,
.card-item.ad-category,
.card-item.site-in-content,
.view-container .ad-placement,
.view-container .pubad{
  text-align: center;
  margin: 0 auto;
  height:auto !important;
  width:auto !important;
}

// subscribe hub styles
.subscribe-hub {
  padding: 0 .5em;

  // social buttons
  .social-follow {
    @extend .ad-m-lr;

    // individual social buttons
    .sc {
      //icons inside links
      .fa {
        margin-right: .5em;
      }

      display: block;
      width:100%;
      max-width: 480px;
      font-size: 1.5em;
      padding: .25em;
      @extend .ad-m-tb;
    }
  }

  .feeds li {
    font-size: 1.25em;
    margin-bottom: 1em;
  }
}

.partner-post {
  .pub-name p {
      font-style: italic;
      font-size: 90%;
  }
}

// animated gif
.animated-gif {
  .post-content img {
    width: 100%;  // full width animated gifs even if they pixel a bit
  }

  .author-meta {
    text-align: left; // make sure category is aligned correctly
  }
}


cardlist[viewtype="column"], .wrapper.category .feed-item .view-type-column{
  width:100%;
  float:left;
  margin: 1em 0;
  .item-cat{
    font-size: .75em;
  }
  h2.post-title{
    font-size:.95em;
  }
}

cardlist[viewtype="row"]{
  width:100%;
  .card-list{
    width:49%;
    float:left;
    &:first-child{
      margin: 0 2% 0 0;
    }

    &:nth-child(3n){
      margin-top: 1em;
      width:100%;
    }

    font-size: 1em;

    .item-cat{
      font-size: .75em;
    }

    h2.post-title{
      font-size:.95em;
    }
  }
}

.wrapper.category .feed-item .view-type-row{

  width:49%;
  float:left;
  &:first-child{
    margin: 0 1% 0 0;
  }

  &:nth-child(3n){
    margin-top: 1em;
    width:100%;
  }

  font-size: 1em;

  .item-cat{
    font-size: .75em;
  }

  h2.post-title{
    font-size:.95em;
  }

}

// Sponsored posts styles
@import 'sponsors';
