// global variables here

// ########################## App Colors

// altD colors
$color-ad-green: #36c600; // RGB 54, 198, 0
$color-ad-orange: #FAAF3A; // RGB 250, 175, 58
$color-ad-blue: #0092D7; // RGB 0, 146, 215
$color-ad-blue-alt: #1411c1;
$color-ad-red: #EB423C; // RGB 235, 66, 60
$color-ad-dk-gray: #19232D; // RGB 25, 35, 45
$color-ad-dkr-gray: #AAAAAA; // darker grey
$color-ad-purple: #a50063;
$color-ad-purple-alt: #9446e2;
$color-ad-yellow: #dbcc00;
$color-ad-brown: #843d13;

$color-text-main: #666;


@import 'social-colors';

// fonts
$font-roboto: 'Roboto Slab', serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-pontano: 'Pontano Sans', sans-serif;
$font-rokkitt: 'Rokkit', serif;
$font-lora: 'Lora', serif;
$font-lato: 'Lato', serif;

$font-system: 'Helvetica', 'Arial', sans-serif;
$font-body: $font-pontano;
$font-headline: $font-lato;


// media query size variables
$nav-switch: 4000px;

// public width for container and titles
$main-width: 680px;