.homehero {
  .app-rail {
    display: none;
  }
  //  carousel controls
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-control {
    background: transparent;
  }
  //  new nav for homepage
  .trending-nav {
    max-width: 974px;
    margin: auto;
  }

  /* fix the padding on this page only */
  .feed-view .item-cat {
    padding: .25em;
  }
  .homeadwrapper {
    margin-top: .25em;
    margin-bottom: .25em;

    div {
      margin: 0em auto .25em;
      div {
        margin: 0;
      }
    }
    width: 728px;
    text-align: center;
  }
  //  tighten up homepage a bit
  .latestposts .post-list {
    margin: .5%;
  }

  // space for smaller screens
  @media all and (max-width: 800px) {
    .latestposts .post-list {
      margin-bottom: 1em;
    }
  }

  //  homepage only footer
  .mega-footer {
    position: absolute;
    width: 100%;
    left: 0;
    color: white;
    background: #19232d;
    padding: 3em 1.5em;
    clear: both;
    li.search {
      width: 100%;
      display: block;
    }
    li.legal {
      display: inline;
      text-transform: none;
      padding: 10px 15px;
      font-size: .75em;
      color: rgba(255, 255, 255, 0.5) !important;
      position: relative;
      top: 30px;
    }
    a,
    a:visited {
      color: rgba(255, 255, 255, 0.5) !important;
    }
  }

  //  copyright in footer
  .ad-copyright {
    width: 33%;
    text-align: right;
    float: right;
  }

//  end MAIN  homepage component
}

@media all and (max-width:800px) {
// small screen footer tweaks
  .homehero .mega-footer {
    text-align: center;
    .ad-copyright {
      float: none;
      text-align: center;
      width: auto;
    }
    .pull-left {
      float: none !important; // shame on me
      margin-bottom: 1em;
      text-align: center;
    }
  }
}

@media all and (max-width:1000px) {
  //  hide the carousel "dots" for small screens
  //  TODO - MAKE this work better on small screens
    .carousel-indicators {
      display: none;
  }
}

.homehero.desktop {
    //  change the nav to fit advert widths on DT only
    .container-fluid {
      padding-right: 15px;
      max-width: 1006px;
    }
    .app-main {
      float: none;
      width: 90%;
      max-width: 974px;
      margin: 1em auto;
    }
}

@media all and (min-width: 1000px) {
  /* restyle homepage-carousel titles */
  .homepage-carousel .card h2.post-title,
  .homepage-carousel .post-content h2.post-title {
      top: 350px;
      width: 44%;
      min-width: 100px;
      font-size: 2.2em;
      padding: .25em;
    }

  // the bottom half of home page
  .homehero .latestposts .post-list {
    float: left;
    width: 49%;
    margin: .5%;
  }

  // set one post to full width - the third post
  .homehero .latestposts .full-width {
    width:99%;
  }
}

.homehero {
    .latestposts {
      width: 100%;
    }
    .split-lower {
      margin-bottom: 1em;
    }
}

@media all and (min-width:650px) {
  .split-lower .latestposts {
    width: calc(100% - 310px);
    margin-right: 10px;
    float: left;
  }

  .split-lower .lower-rail-ads {
    display: block;
    float: left;
    width: 300px;
    }
}

// mobile devices get the mobile adverts using UA - make the bottom articles full width
.mobile .split-lower .latestposts {
  width: 100%;
  float: none;
}

/* lower rail advert */
.lower-rail-ads {
  text-align: center;
}

// css for trending navigation
.trending-nav {
  text-align: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.trend-link {
  background-color: rgba(0, 0, 0, .8);
  color: white;
  font-size: 2em;
  padding: .25em;
  box-sizing: border-box;
  border: 1px solid white;
  border-width: 0 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.trend-link:visited {
  color: white;
}

.trend-link:hover {
  color: white;
  text-decoration: none;
  opacity: .8;
}

.trend-link:first-child {
  border-left: 0;
}

.trend-link:last-child {
  border-right: 0;
}

.ad-best {
  background-color: #36c600;
}

.ad-latest {
  background-color: #0092D7 ;
}

.ad-hottest {
  background-color: #EB423C;
}
//temp home page show full feed button
.ad-home-more {
  background-color: rgba(0,0,0,.03);
  border-radius: .25em;
  border: 1px solid #e3e3e3 ;
  color: #444;
  margin: .5em 0px;
  font-size: 2em;
  padding: .25em;
  text-transform: uppercase;
}


/* some mobile styles */

body.mobile .trending-nav {
  border:none;
}

body.mobile .trend-link {
  border:none;
  font-size: 1.25em;
  padding: .5em;
}

body.mobile.homehero .app-main{
  padding:.5em;
  .latestposts .post-list {
    margin: 1em 0 0;

    .post-title{
      font-size:1em;
      height:3.3em;
      font-weight: normal;
    }
  }
  .homepage-carousel .card h2.post-title,
  .homepage-carousel .post-content h2.post-title {
    font-size: 1em;
    height:3.3em;
    font-weight: normal;
  }
}

body.homehero .latestposts{
  .partner-post-sidekick{
    cursor: pointer;
  }
  .excerpt p{
    //position: relative;
    margin: 10px 10px 10px;
    //float: left;
    padding-top: 38px;
  }
  .featured-image-thumbnail{
    margin-top: 0;
    width: 35%;
    height: auto;
  }
  .format-standard {
    .post-title {
      top: -147px;
      position: relative;
      padding-bottom: 10px;
      float: right;
      padding-right: 22px;
      display: inline-block;
      width: 50%;
      height: 10%;
    }
    .read-more a {
      color: #3ec1ff!important;
      position: relative;
      top: -7px;
      height: 0px;
    }
  }
  .post-content > p .read-more{
    display:none;
  }
  .card-item {
    width: 100%;
    clear: both;
    display: inline-block;
  }
}

.mega-footer .header-search-txt{

  min-width: 236px;
  
}

//.mega-footer li {
//  display: inline !important;
//}

@media all and (max-width: 700px) {

  .homehero .mega-footer .ad-copyright {
    width: auto;
  }
  .format-standard {
    .post-title {
      top: 6px !important;
      position: absolute !important;
      float: right !important;
      padding-right: 10px;
      left: 121px;
      display: inline-block;
      width: 60% !important;
      height: 10%;
    }
  }
}
