.homehero {
  .app-rail {
    display: none;
  }
  //  carousel controls
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-control {
    background: transparent;
  }
  //  new nav for homepage
  .trending-nav {
    max-width: 974px;
    margin: auto;
  }

  /* fix the padding on this page only */
  .feed-view .item-cat {
    padding: .25em;
  }
  .homeadwrapper {
    margin-top:.25em;
    margin-bottom:.25em;

    div{
      margin: 0em auto .25em;
      div {
        margin: 0;
      }
    }
    width: 728px;
    text-align: center;
  }
  //  tighten up homepage a bit
  // .latestposts .post-list {
  //   margin: .5%;
  // }

  .post-article {
    width: 49%;
    float: left;
    margin-top: 20px !important;
  }

  .post-article-right {
    margin-left: 2%;
  }


  // space for smaller screens
  @media all and (max-width:800px) {
    .latestposts .post-list {
      margin-bottom: 1em;
    }
  }

  //  homepage only footer
  .mega-footer {
    position: absolute;
    width: 100%;
    left: 0;
    color: white;
    background: #19232d;
    padding: 3em 1.5em;
    clear: both;
    li.search {
      width: 100%;
      display: block;
    }
    li.legal {
      display: inline;
      text-transform: none;
      padding: 10px 15px;
      font-size: .75em;
      color: rgba(255, 255, 255, 0.5) !important;
      position: relative;
      top: 9px;
    }
    a,
    a:visited {
      color: rgba(255, 255, 255, 0.5) !important;
    }
  }

  //  copyright in footer
  .ad-copyright {
    width: 33%;
    text-align: right;
    float: right;
  }

  //  end MAIN  homepage component
}

.category-header {
  margin: 17px 0 5px 0;
  color: #FFF;
  padding: .5em;
  margin-bottom: 0;
  font-size: 18px;
}
.insane-stunts-header {
  background-color: #a50063;
}
.crash-burn-header {
  background-color: #EB423C;
}
.gaming-header {
  background-color: #000;
}
.sports-car-header {
  background-color: red;
}
.luxury-header {
  background-color: #dbcc00;
}
.motorcycles-header {
  background-color: #FAAF3A;
}
.classics-header {
  background-color: #19232D;
}
.off-road-header {
  background-color: #843d13;
}

//.post-content .item-cat {
//  display: none;
//}
@media all and (max-width:800px) {
  // small screen footer tweaks
  .homehero .mega-footer {
    text-align: center;
    .ad-copyright {
      float: none;
      text-align: center;
      width: auto;
    }
    .pull-left {
      float: none !important; // shame on me
      margin-bottom: 1em;
      text-align: center;
    }
  }

  .homehero .post-article-right {
    margin-left: 0px;
  }

  .homehero .post-article {
    width: 100%;
  }
}

@media all and (max-width:1000px) {
  //  hide the carousel "dots" for small screens
  //  TODO - MAKE this work better on small screens
  .carousel-indicators {
    display: none;
  }

  .homehero .post-article-right {
    margin-left: 0px;
  }

  .homehero .post-article {
    width: 100%;
  }

}

.homehero.desktop {
  //  change the nav to fit advert widths on DT only
  .container-fluid {
    padding-right: 15px;
    max-width: 1006px;
  }
  .app-main {
    float: none;
    width: 90%;
    max-width: 974px;
    margin: 1em auto;
  }
}

@media all and (min-width: 1000px) {
  /* restyle homepage-carousel titles */
  .homepage-carousel .card h2.post-title,
  .homepage-carousel .post-content h2.post-title {
    top: 350px;
    width: 44%;
    min-width: 100px;
    font-size: 2.2em;
    padding: .25em;
  }

}

.homehero {
  .latestposts {
    width: 100%;
  }
  .split-lower {
    margin-bottom: 1em;
  }
}

@media all and (min-width:650px) {
  .split-lower .latestposts {
    width: calc(100% - 310px);
    margin-right: 10px;
    float: left;
  }

  .split-lower .lower-rail-ads {
    display: block;
    float: left;
    width: 300px;
    margin-top: .6em; // line up ads and first story
  }
}

// mobile devices get the mobile adverts using UA - make the bottom articles full width
.mobile .split-lower .latestposts {
  width: 100%;
  float: none;
}

/* lower rail advert */
.lower-rail-ads {
  text-align: center;
}

// css for trending navigation
.trending-nav {
  text-align: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.trend-link {
  background-color: rgba(0, 0, 0, .8);
  color: white;
  font-size: 2em;
  padding: .25em;
  box-sizing: border-box;
  border: 1px solid white;
  border-width: 0 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.trend-link:visited {
  color: white;
}

.trend-link:hover {
  color: white;
  text-decoration: none;
  opacity: .8;
}

.trend-link:first-child {
  border-left: 0;
}

.trend-link:last-child {
  border-right: 0;
}

.ad-best {
  background-color: #36c600;
}

.ad-latest {
  background-color: #0092D7 ;
}

.ad-hottest {
  background-color: #EB423C;
}

// hide latest on mobile and split to 50/50 display
@media all and (max-width:480px) {
  .trending-nav .trend-link {
    float: left;
    width: 50%;
  }
  .trend-link.ad-latest {
    display: none;
  }
}

// hide latest on mobile and split to 50/50 display
@media all and (min-width:481px) and (max-width:772px) {
  .trending-nav .trend-link {
    float: left;
    width: 33%;
  }
}

//temp home page show full feed button
.ad-home-more {
  background-color: rgba(0,0,0,.04);
  border-radius: .25em;
  border: 1px solid #ddd;
  color: #777;
  margin: .5em 0;
  font-size: 1.5em;
  padding: .5em;
  text-transform: uppercase;
}


/* some mobile styles */

// set one post to full width - the third post
.homehero .latestposts .full-width {
  width:100%;
}

body.mobile .trending-nav {
  border:none;
}

body.mobile .trend-link {
  border:none;
  font-size: 1.25em;
  padding: .5em;
}

@media all and (max-width: $nav-switch) {
  body.mobile.homehero .app-main .post-title{
    height:auto;
    font-weight: bold;
  }
}
body.mobile.homehero .app-main{
  padding:.5em;
  .latestposts .post-list {
    margin: 1em 0 0;
  }
  .homepage-carousel .card h2.post-title,
  .homepage-carousel .post-content h2.post-title {
    font-size: 1em;
    height:3.3em;
    font-weight: normal;
  }
}

body.homehero .app-main .latestposts{

  // hide category from homepage
  .item-cat{
    display: none;
  }

  .post-title{
    padding-left: .67em;
  }

  [excerpt="true"] .post-title {
    padding-left: 0;
  }

  // TEMP REFACTOR LATER
  h3 {

    @extend h4;

    color: white;
    padding:.5em;
    margin-bottom: 0;
    background-color: $color-ad-green; // default

    //insane stunts
    &.insane-stunts {background-color: $color-ad-purple;}

    // crash and burn
    &.crash-burn {background-color: $color-ad-red;}

    // gaming
    &.gaming {background-color: black;}

  }

  .partner-post{

    &.format-standard{

      .item-cat{
        position: relative;
        float: left;
        display: none;
      }
      .pub-name{
        float: left;
        font-size: .85em;
        line-height: 1.25em;
        margin: .25em 0 .5em .5em;
      }
      .excerpt-title{

        color:#000 !important;
        margin-top: 0 !important;
      }

      .featured-image-thumbnail{
        margin: .5em;
        width: 35%;
        height: auto;
      }

      .read-more{

        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        padding: 2em 0 .5em;
        a{
          display: block;
          line-height:1em;
        }
      }

    }
  }

  .partner-post-sidekick{
    cursor: pointer;
  }

  .excerpt p{
    position: relative;
    margin: 0;
    //margin: 10px;
  }

  .featured-image-thumbnail{
    margin-top: 0;
    width: 35%;
    height: auto;
  }

  .post-content > p .read-more{
    display:none;
  }

}

.format-standard .post-content {
  //top: -19px;
}

.mega-footer .header-search-txt{
  min-width: 235px;
  left: -20px !important;
}
.mega-footer .ga-btn-search{
  position: relative;
  left: -20px;
}
.excerpt-title{
  margin-top: 0 !important;
}

@media all and (max-width: 700px) {

  .homehero .mega-footer .ad-copyright {
    width: auto;
  }
  .format-standard .post-content {
    top: 0px;
  }
}

.homehero cardlist .post-list{
  width:auto !important;
}

// no box shadow on homepage
.homehero .post-list {
  margin-bottom: 1em;
  box-shadow: 0 0 0 #fff;
}
