 // SPONSORED POSTS
// #################################

.sponsored-post-id, .sponsored {
  margin: 0;
  padding: .25em;

  // Sponsor Avatar smaller for content level placements
  .sponsor-avatar img {
    width: 40px;
    height: 40px;
  }

  // buttons in sponsor notes defaults
  .button {
    padding: 5px 21px;
    margin-right: .5em;
    background-color: $color-ad-blue;
    color: white !important;
  } 

  a.button:nth-child(even) {
    background-color: $color-ad-orange;
  }
}

// hide the text label on the large sponsor landing page
.sponsor-header.sponsor-large {
  display: none;
}

// ALL Avatars page and content level
.sponsor-avatar {
  display: inline-block;
  float: left;
  margin: 0 .25em 0 0;
  max-height: 6em;
}

// All sponsor headers
.sponsor-header  {
  font-size: 1em;
  margin: 0 0 .25em;
  display: inline-block;
  padding: 0 .25em;
  @extend .clearfix;

}

.sponsor-header .sponsor-byline {
  color: rgb(148, 150, 151);
  margin: .25em 0;
  margin-right: .25em;
  display: block;
}

// inline sponsored by on main feed items
[type="sponsor"] {
  .sponsor-header {
    // make it a little smaller in the feed
    font-size: .8em;

    .sponsor-byline {
      display: inline;
      color: white;
      margin-left: 0;
    }

    a {
      padding:0;
     }
  }

   .sponsor-avatar {
    display: none;
   }

}

// no background-color on single view
.post-view.full {

  .sponsored {
    background-color: transparent !important;
    margin-bottom: .5em;
    margin-top: .5em;
  }

  // .sponsor + .item-author {
  //   float: right;
  // }
}

// make sponsor bug have decent padding
.sponsor-header a {
  padding: 0 .5em;
  background-color: #ee8d09;
  color: #fff;
}

// SPONSOR ALL CAMPAIGNS PAGE

// Sponsor page main header
.sp-page-head {
  position: relative;
  margin-bottom: 1em;
}

 .notes{
   padding: 0 .25em;
 }

 .sp-page-head .sponsor-avatar{
   width: 100%;
   
   img.featured{
      margin: 0 auto;
     display: flex;
     -webkit-flex: 1;
     max-width: 100%;
   }
}

 .sponsor-follow{
   padding: 0 .25em;
 }



@media all and (max-width: 479px) {
  .sponsor-share {
    clear: left;
  }

  .sponsor-share-text {
    padding-left: .75em;
  }
}

// make share text smaller
.sponsor-share-text {
  font-size: .75em;
  padding-right: .75em;
}

.sponsor-follow div {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin-right: 1em;
} 