// desktop styles
html, body{
  height:100%;
  min-height: 100%;
}
// need something to wrap the .view container class
.app-wrapper {
  max-width: 1250px;
  height:100%;
  margin: 0 auto;
}

// need another div for the rail stuff
.app-rail {
  display: none;
}

.dt-ad{
  margin-bottom: 3em;
}

//show and hide the main sections
@media all and (min-width:880px) {
   .app-main {
     float: left;
     width: 65%;
     width: calc(100% - 366px);
   }

// need another div for dt only
   .app-rail {
     display: block;
     padding-top: 50px;
     float: left;
     width: 350px;
     padding-left: 1em;
     text-align: center;

     .sidebar {
       position: fixed;
       margin-top: 1em;
       .search-box {
         width: 300px;
         margin: 14px auto 0;

         input{
           width:88%;
         }
         button{
           width: 10%;
         }
       }

       .card {
         max-width: 300px;
       }

       .col-sm-3 {
         width: 50%;
       }

       .card-email .btn-primary {
         font-size: 1em;
       }
     }
   }
}

// ################# navigation stuff
// HACKITY HACK HACK
// Need to rework bootstraps responsive utilities
  .visible-md-altd {
    display: none;
  }

  @media all and (max-width: $nav-switch - 1px) {
    .visible-md-altd {
      display: block !important;
    }

    .navbar-nav > li.search {
      width: 100%;
      display: block;
      padding: 1em;
    }
  }

  // hackity hack hide when nav changes
  @media all and (min-width: $nav-switch + 1px) {
    .hidden-md-altd {
      display: none !important;
    }

    nav {
      position: relative;
    }

    .navbar-nav > li.search {
      position: absolute;
      right: 0;
      top: .5em;
      margin-right: 7.5em;
    }

  
  }

// ipad landscape ad fixes temp
.ipad.landscape .app-main {
  float: none;
  width: 100%;
  max-width: 728px;
  margin-left: auto;
  margin-right: auto;
  .feed-item{
    margin: 1em auto !important;
  }
}

.ipad.landscape .app-rail {
  display: none;
}

.upshift .app-main{
  float: none;
  margin: 0 auto;
}

// #################### End Nav Stuffs