// desktop styles

// need something to wrap the .view container class
.app-wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

// need another div for the rail stuff
.app-rail {
  display: none;
}

// show and hide the main sections
@media all and (min-width:880px) {
  .app-main {
    float: left;
    width: 65%;
    width: calc(100% - 366px);
  }

// need another div for dt only
  .app-rail {
    display: block;
    padding-top: 50px;
    float: left;
    width: 350px;
    padding-left: 1em;
    text-align: center;

    .sidebar {
      //position: fixed;

      .search-box {
        width: 300px;
        margin: 14px auto 0;

        input{
          width:88%;
        }
        button{
          width: 10%;
        }
      }

      .card {
        max-width: 300px;
      }

      .col-sm-3 {
        width: 50%;
      }

      .card-email .btn-primary {
        font-size: 1em;
      }
    }
  }
}

// ################# navigation stuff
// HACKITY HACK HACK
// Need to rework bootstraps responsive utilities
  .visible-md-altd {
    display: none;
  }

  @media all and (max-width: $nav-switch - 1px) {
    .visible-md-altd {
      display: block !important;
    }

    .navbar-nav > li.search {
      width: 100%;
      display: block;
      padding: 1em;
    }
  }

  // hackity hack hide when nav changes
  @media all and (min-width: $nav-switch + 1px) {
    .hidden-md-altd {
      display: none !important;
    }

    nav {
      position: relative;
    }

    .navbar-nav > li.search {
      position: absolute;
      right: 0;
      top: .5em;
      margin-right: 7.5em;
    }

  
  }

// #################### End Nav Stuffs