// flexbox based share buttons
.flexshare {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.fs-item {
  margin: .25em; 
}

// make it smaller
.flexshare.flex-small {
  font-size:.7em;
}

// testing classes - rework with something better
  .flexshare-first {
    order: -1;
  }

  .flex-mail {
    order: 0;
  }

  .flex-twitter {
    order: -1;
  }

// brand colors instead of standard link colors
.flexshare.brandedcolors 
  {
     .flex-facebook a,
     &:visited {
      color: $color-facebook;
    }

     .flex-twitter a,
     &:visited {
      color: $color-twitter;
    }

     .flex-linkedin a,
     &:visited {
      color: $color-linkedin;
    }

     .flex-gplus a,
     &:visited {
      color: $color-googleplus;
    }

     .flex-mail a,
     &:visited {
      color: $color-ad-green;
    }

     .flex-reddit a,
     &:visited {
      color: $color-reddit;
    }
  }


// No rounded squares 
.flexshare.no-square .fs-item a,
.flexshare.no-square .fs-item a:visited {
  color: #fff;
  background-color: #333;
  display: inline-block;
  padding: .3em .25em .25em;
  width: 3.5em;
  height: 3.5em;
  font-size: .75em;
  text-align: center;
}

// no round squares branded
.flexshare.no-square.brandedcolors {
  .flex-facebook a,
  &:visited {
    background-color: $color-facebook;
  }

  .flex-twitter a,
  &:visited {
    background-color: $color-twitter;
  }

  .flex-linkedin a,
  &:visited {
    background-color: $color-linkedin;
  }

  .flex-gplus a,
  &:visited {
    background-color: $color-googleplus;
  }

  .flex-mail a,
  &:visited {
    background-color: $color-ad-green;
  }

  .flex-reddit a,
  &:visited {
    background-color: $color-reddit;
  }

}

