// flexbox based share buttons
.flexshare {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @include flex-justify-content(center);
  position: relative;
  width:100%;
  clear: left;
}
.fs-item {
  flex-grow:1;
}

// make it smaller
.flexshare.share-small {
  font-size:.7em;
}

// testing classes - rework with something better
  .flexshare-first {
    order: -1;
  }

.desktop .flex-sms{
  display: none;
}

// No rounded squares 
.flexshare .fs-item,
.flexshare .fs-item:visited {
  color: #fff;
  background-color: #333;
  display: inline-block;
  padding: .3em .25em .25em;
  font-size: .75em;
  width: 4.75em;
  text-align: center;
  border: 0;

  i.fa-3x{
    line-height: 1.75em;
  }
}

// ios specific flexbox reverts
// ios imporoperly supports flexbox - revert to floats for now.
.ios .flexshare {
  display: block;
  .fs-item,
  .fs-item:visited {
    display: block;
    float: left;
    width: percentage(1/6);
  }
}

// no round squares branded
.flexshare {
  .flex-facebook,
  .flex-facebook:visited {
    background-color: $color-facebook;
  }

  .flex-twitter,
  .flex-twitter:visited {
    background-color: $color-twitter;
  }

  .flex-linkedin,
  .flex-linkedin:visited {
    background-color: $color-linkedin;
  }

  .flex-gplus,
  .flex-gplus:visited {
    background-color: $color-googleplus;
  }

  .flex-mail,
  .flex-mail:visited {
    background-color: $color-ad-green;
  }

  .flex-reddit,
  .flex-reddit:visited {
    background-color: $color-reddit;
  }

}

