// flexbox based share buttons
.flexshare {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  @include flex-justify-content(center);
  position: relative;
  width:100%;
  clear: left;
}
.fs-item {
  -webkit-flex-grow:1;
  flex-grow:1;
}

// make it smaller
.flexshare.share-small {
  font-size:.7em;
}

// testing classes - rework with something better
  .flexshare-first {
    -webkit-order: -1;
    order: -1;
  }

.desktop .flex-sms{
  display: none !important;
}

// No rounded squares 
.flexshare .fs-item,
.flexshare .fs-item:visited {
  color: #fff;
  background-color: #333;
  display: inline-block;
  padding: .3em .25em .25em;
  font-size: .75em;
  width: 4.75em;
  text-align: center;
  border: 0;

  i.fa-3x{
    line-height: 1.75em;
  }
}



.desktop .flexshare iframe{display: none;}

// no round squares branded
.flexshare {

  iframe{
    height: 60px;
    max-height: 60px;
    min-height: 50px;
    border: none;
    margin: 0;
    padding: 0;
    width: 45px;
  }
  .flex-facebook,
  .flex-facebook:visited {
    background-color: $color-facebook;
  }

  .flex-twitter,
  .flex-twitter:visited {
    background-color: $color-twitter;
  }

  .flex-linkedin,
  .flex-linkedin:visited {
    background-color: $color-linkedin;
  }

  .flex-sms,
  .flex-sms:visited{
    background-color: #007bb6;
  }

  .flex-whatsapp,
  .flex-whatsapp:visited{
    background-color: #368a43;
  }

  .flex-gplus,
  .flex-gplus:visited {
    background-color: $color-googleplus;
  }

  .flex-mail,
  .flex-mail:visited {
    background-color: $color-ad-green;
  }

  .flex-reddit,
  .flex-reddit:visited {
    background-color: $color-reddit;
    display: none;
  }

}

.mobile .flex-linkedin{
  display: none;
}

