// global variables here

// ########################## App Colors

// altD colors
$color-ad-green: #36c600; // RGB 54, 198, 0
$color-ad-orange: #FAAF3A; // RGB 250, 175, 58
$color-ad-blue: #0092D7; // RGB 0, 146, 215
$color-ad-red: #EB423C; // RGB 235, 66, 60
$color-ad-dk-gray: #19232D; // RGB 25, 35, 45
$color-ad-purple: #a50063;
$color-ad-purple-alt: #9446e2;
$color-ad-yellow: #dbcc00;
$color-ad-brown: #843d13;


@import 'social-colors';

// fonts
$font-roboto: 'Roboto Slab', serif;
$font-montserrat: 'Montserrat', sans-serif;

// media query size variables
$nav-switch: 1025px;