
.post-actions {
  // make a mixin
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */

  // icons increase font -size
  .ad-m i.fa {
    font-size: 1.4em;
  }

  .ad-m{
    margin: .5em;
  }

  button {
    height: 2.5em;
  }
  // match the buttons
  button.btn,
  a,
  a:visited {
    background: #fff;
    border: 1px solid #e7e7e7;
    color: #666;
    opacity: 1;
  }

  // space the comments out a bit
  .pa-comments {
    margin-left: 2em;

  }

  .share-meta{
    font-size: .65em;
    margin-bottom: .5em;
    padding-left: .25em;
  }

  .votes button[disabled="disabled"]{
    color:#ccc;
    &.voted{
      color:lightblue;
    }


  }

  // temp hide the votes
  .share-meta,
  .pa-voting {
    display: none;
  }

    .pa-comments {
      margin-left: 0;
    }
}

.post-actions {

  .ad-m {
    @extend .clearfix;
  }
}
