/* utility classes */

// colors
.light-grey{  color: #999999; }

// floats - extend from bootstrap
.left{  float: left; }
.right{  float: right; }

// display
.inline       { display: inline       !important; }
.inline-block { display: inline-block !important; }