// utility classes 
// use bootstrap utilities when possible

// colors
.light-grey{  color: #999999; }

// floats - extend from bootstrap
.left{  float: left; }
.right{  float: right; }

.italic{
  font-style: italic;
}

// display
.inline       { display: inline       !important; }
.inline-block { display: inline-block !important; }

// margins
.ad-m-n {margin: 0;}
.ad-m {margin: 1em;}
.ad-m-r {margin-right: 1em;}
.ad-m-l {margin-left: 1em;}
.ad-m-lr {margin-left: 1em; margin-right: 1em;}
.ad-m-t {margin-top: 1em;}
.ad-m-b {margin-bottom: 1em;}
.ad-m-tb {margin-top: 1em; margin-bottom: 1em;}

// padding
.ad-p-n {padding: 0;}
.ad-p {padding: 1em;}
.ad-p-r {padding-right: 1em;}
.ad-p-l {padding-left: 1em;}
.ad-p-lr {padding-left: 1em; padding-right: 1em;}
.ad-p-t {padding-top: 1em;}
.ad-p-b {padding-bottom: 1em;}
.ad-p-tb {padding-top: 1em; padding-bottom: 1em;}

.flexy {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

// buttons
.btn-full {
  display: block;
  width: 100%;
}

.btn-flat {
  text-decoration: none;
  border: 0 !important;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-instagram {
  color: #fff !important;
  background-color: $color-ad-orange !important;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}