@import 'globals';
@import "mixins";
@import 'root';


.wrapper{

}
.view-container{
  padding-top: 50px;
  background: #efefef;
}

// submit story button
.btn-submit-story {
  @extend .ad-m-r;
  float: right;
}

.feed-item {
  max-width: 640px;
  margin: 0 auto 1em;
}

.post-title{
  max-width: 640px;
  //font-size: 1.1em;
  color:#444;
  margin: 0 0 .5em;
  padding: 0 .5em;
}

.post-content{
  max-width: 640px;
  min-height: 230px;
  background: #fff;
  color:#666;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}

.featured-image{
  display: block;
  margin:0 auto;
  width: 100%;
  height: auto;
  cursor:pointer;
}

.post-content p iframe{
  margin: 0 auto 1em;
}

.post-content p:not(p:first-child){
  max-width: 95%;
  line-height: 1.5em;
  margin-bottom: .5em;
}

.author-meta{
  text-transform: uppercase;
  display: block;
  //font-size: .8em;
  color:#333;
  font-weight: bold;
  padding: 0 1em;

  p{
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }

  .item-author {
    @extend .left;
  }

  .item-cat {
    @extend .right;
  }
}

// single post view CSS
@import 'single';

// load components here
@import 'flex-share';

// CSS utility classes
@import 'utilities';

// themes
@import 'altd-2015';
