@import 'globals';
@import "mixins";
@import 'root';


.wrapper{

}
.view-container{
  padding-top: 50px;
  background: #efefef;
}

// submit story button
.btn-submit-story {
  @extend .ad-m-r;
  float: right;
  cursor: pointer;
}

.collapse.in, .collapsing{
  .btn-submit-story {
      display: none;
  }
}

// HACKITY HACK HACK
// Need to rework bootstraps responsive utilities
.visible-md-altd {
  display: none;
}

@media all and (max-width: $nav-switch - 1px) {
  .visible-md-altd {
    display: block !important;
  }
}

.feed-item {
  margin: 0 auto 1em;
}

.view-container {
  max-width: $main-width;
  margin-left: auto;
  margin-right: auto;
}

.post-title{
  font-size: 1.5em;
  color:#444;
  margin: 0 0 .5em;
  padding: 0 .5em;
}

.post-content{
  background: #fff;
  color:#666;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}

.featured-image{
  display: block;
  margin:0 auto;
  width: 100%;
  height: auto;
  cursor:pointer;
}

.post-content p iframe{
  margin: 0 auto 1em;
}

.post-content p:not(p:first-child){
  max-width: 95%;
  line-height: 1.5em;
  margin-bottom: .5em;
}

.author-meta{
  text-transform: uppercase;
  display: block;
  font-size: .8em;
  color:#333;
  font-weight: bold;
  padding: 0 1em;
  height: 2em;

  p{
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }
  
  .votes{
    button{
      background: none;
      border: none;
      &[name="up"]{
        color:$color-ad-green;
      }
      &[name="down"]{
        color:$color-ad-red;
      }
      .fa{
        font-size: 1.25em;
      }

      &[disabled="disabled"]{
        color:grey;
      }
    }
  }

  .item-author {
    @extend .left;
  }

  .item-cat {
    @extend .right;
  }
}

.post-view.feed{
  .votes{
    position: absolute;
    top: 0;
    right: 0;
  }
}

// single post view CSS
@import 'single';

// load components here
@import 'flex-share';

// non post card css
@import 'cards';

// CSS utility classes
@import 'utilities';

// themes
@import 'altd-2015';

@import 'vendor/bootstrap.css';

// bootstrap overrides
// change breakpoint for Menu
@import 'bootstrap_menu_overrides';
