<!--ui-sref="category.single({category: item.category[0].slug, slug: item.slug})-->
<div ui-view class="wrapper" ng-controller="FeedListController">
    <div id="scroll-container" infinite-scroll="getNext()" infinite-scroll-immediate-check="false" infinite-scroll-listen-for-event="list:next">
        <div ng-repeat="item in feedItemElements track by $index" data-url="{{ item.link }}" class="feed-item">
            <div class="post-view-type">
                <div class="category">
                    <div ng-switch="item.featured_image_src.medium">
                        <div ng-switch-when="false" class="post-content no-featured-img" ng-bind-html="renderContent(item.content,$index, false)"></div>

                        <div ng-switch-default class="post-content">
                            <p><img class="featured-image" ng-click="renderContent(item.content, $index, true)" src="{{ item.featured_image_src.medium[0] }}" width="{{ item.featured_image_src.medium[1] }}" height="{{ item.featured_image_src.medium[2] }}" /></p>
                            <h2 ng-bind-html="item.title.rendered" class="post-title">{{ item.title.rendered }}</h2>

                            <ng-include src="'shared/share-footer.html'"></ng-include>

                            <div class="author-meta">
                                <p class="left"><span class="light-grey">By</span> {{ item.author_meta.name }}</p>
                                <p class="right" ng-bind-html="item.category[0].name">{{ item.category[0].name }}</p>
                                <span class="clearfix"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>