<div class="wrapper single-post {{ currentView }}">
    <div id="scroll-container">

        <div ng-repeat="item in feedItemElements track by $index" data-url="{{ item.link }}" class="feed-item" id="feed-item-{{ $index }}">

            <div ng-if="currentView === 'sponsor' && $index === 0">
                <ng-include src="'/views/partials/sponsor-header-page.html'"></ng-include>
            </div>


            <card ng-if="item.type != 'instagram'" error="{{ item.noresults ? 'no-results' : '' }}" type="{{ item.type }}"></card>
            <div ng-if="item.type === 'instagram'">
                <instagram count="1"></instagram>
            </div>
            <!--<div ng-if="currentView === 'post' && $index === 0">
                <card type="post-companion-leaderboard"></card>
            </div>-->
        </div><!-- /ng-repeat -->

    </div>
</div>