<div class="wrapper single-post {{ currentView }}">
    <div id="scroll-container" infinite-scroll="getNext()" infinite-scroll-immediate-check="false" infinite-scroll-listen-for-event="list:next" infinite-scroll-distance="2">
        <div ng-repeat="item in feedItemElements track by $index" data-url="{{ item.link }}" class="feed-item">

            <div ng-switch="currentView">

                <div ng-switch-when="list" class="list-view">

                    <ng-include src="'/views/partials/post-list.html'"></ng-include>

                </div>

                <div ng-switch-when="post" class="single-view">
                    <ng-include src="'/views/partials/post-single.html'"></ng-include>
                </div>

            </div>
            <ng-include src="'/views/partials/post-actions.html'" ng-init="isVisible = false"></ng-include>
        </div><!-- /ng-repeat -->
    </div>

</div>