<div ui-view class="wrapper single" ng-controller="FeedSingleController">
    <div data-url="{{ item.link }}" class="feed-item">

        <h2 ng-bind-html="item.title.rendered" class="post-title">{{ item.title.rendered }}</h2>
        <div class="author-meta">
            <p class="left"><span class="light-grey">By</span> {{ item.author.name }}</p>
            <p class="right" ng-bind-html="item.category[0].name">{{ item.category[0].name }}</p>
            <span class="clearfix"></span>
        </div>

        <div ng-bind-html="item.content" class="post-content"></div>

    </div>
</div>