<div class="wrapper single-post">
    <div id="scroll-container" infinite-scroll="getNext()" infinite-scroll-immediate-check="false" infinite-scroll-listen-for-event="list:next" infinite-scroll-distance="1">
        <div ng-repeat="item in feedItemElements track by $index" data-url="{{ item.link }}" class="feed-item">

            <div ng-switch="$index">
                <div class="post-view-full" ng-switch-when="0">
                    <div id="fb-root"></div>
                    <h2 ng-bind-html="item.title.rendered" class="post-title">{{ item.title.rendered }}</h2>
                    <div class="author-meta">
                        <p class="left"><span class="light-grey">By</span> {{ item.author.name }}</p>
                        <p class="right" ng-bind-html="item.category[0].name">{{ item.category[0].name }}</p>
                        <span class="clearfix"></span>
                    </div>

                    <div class="post-content">{{ renderContent(item.content.rendered, $index, false) }}</div>
                    <p id="commentHook" class="comment-trigger text-right"> <span>Responses</span></p>
                    <div class="fb-wrapper">
                        <!--<div class="fb-comments" id="comments" data-href="{{ item.link }}" data-width="100%"></div>-->
                        <div class="fb-comments" id="comments" data-href="http://www.altdriver.com/crash-burn/brutal-cyclist-crash-into-car-during-downhill-race/" data-width="100%"></div>
                    </div>
                    <ng-include src="'/shared/share-icons.html'"></ng-include>
                </div>
                <!-- /ng-switch-when [render the requested post] -->

                <div ng-switch-default>
                    <div class="post-content feed-view">
                        <p><a href="/{{item.category[0].slug + '/' + item.slug}}/"><img class="featured-image" src="{{ item.featured_image_src.medium[0] }}" width="{{ item.featured_image_src.medium[1] }}" height="{{ item.featured_image_src.medium[2] }}" /></a></p>
                        <h2 ng-bind-html="item.title.rendered" class="post-title">{{ item.title.rendered }}</h2>

                        <div class="author-meta">
                            <p class="item-author"><span class="light-grey">By</span> {{ item.author_meta.name }}</p>
                            <p class="item-cat" ng-bind-html="item.category[0].name">{{ item.category[0].name }}</p>
                            <span class="clearfix"></span>
                        </div>

                    </div>
                </div>
                <!-- /ng-switch-default [render the post feed] -->

            </div><!-- /ng-switch -->

        </div><!-- /ng-repeat -->
    </div>
</div>