<div class="subscribe-hub">
    <h3>Follow alt_driver</h3>
    <div class="social-follow">
      
        <a href="http://facebook.com/altdriver" class="sc btn btn-default"><i class="fa fa-facebook-official"></i>Facebook</a>

        
        <a href="https://instagram.com/altdriver/" class="sc btn btn-default"><i class="fa fa-instagram"></i>Instagram</a> 
      
      
        <a href="https://plus.google.com/+Altdriver/videos" class="sc btn btn-default"><i class="fa fa-google-plus"></i>Google Plus</a>
      
    </div>
    <hr />
    <h3>RSS Feeds</h3>
    <ul class="unstyled feeds">
          <li><i class="fa fa-rss"></i> <a href="http://www.altdriver.com/feed/galleryfeed" target="_blank">Best of alt_driver</a></li>
          <li><i class="fa fa-rss"></i> <a href="http://www.altdriver.com/feed/newsfeed" target="_blank">All of alt_driver</a></li>
        </ul>
</div>